body{
  background-color: #242424;
  display: flex;
  margin: 0;
  padding-top: 20%;
  justify-content: center;
}

button {
  border: 1px solid transparent;
  border-radius: 8px;
  padding: 10px 16px;
  font-size: 14px;
  font-weight: 600;
  cursor: pointer;
  transition: border-color 0.25s,box-shadow 0.25s;
}
.dark-btn{
  color: black;
  background-color: white;
}
.light-btn{
  color: white;
  background-color: black;
}

.dark-btn:hover {
  box-shadow: 0px 0px 10px white;
  border-color: white;
}

.light-btn:hover{
  
  box-shadow: 0px 0px 10px black;
  border-color: black;
}
